<div class="row mt-5 mb-5">


    <form (ngSubmit)="onsubmit()">

        <div class="col-4 login-wrap " id="form-content">

            <h2 class="email-wrap mb-5 " id="form-head">Log in</h2>

            <div class="ms-5 me-5">
                <label for="exampleFormControlInput1" class="form-label  ">Email address</label>

                <input type="email" class="form-control mb-3 " id="exampleFormControlInput1" name="email" required
                    [(ngModel)]="email" ngModel>

                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Password</label>
                </div>
                <div class="col-auto">
                    <input type="password" id="inputPassword6" class="form-control"
                        aria-describedby="passwordHelpInline" name="password" required [(ngModel)]="pass">

                </div>

                <div class="col-auto mb-4">
                    <span id="passwordHelpInline" class="form-text span-class">
                        Must be 8-20 characters long.
                    </span>
                </div>
                <div class="col-auto">

                    <button class="btn btn-success p-2 mb-4 login-btn mt-2" type="submit">Login</button>

                </div>

                <div class="col-auto mb-5 mt-2 signup-btn-wrapper">

                    <p id="switch-p">Don't have an account ? </p>

                    <button class="btn" id="switch-btn" (click)="showSignup()">Sign up</button>


                </div>
            </div>
        </div>

    </form>

</div>